@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 0 20px;
}

.login-box {
    background-color: #fffafa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

.logo {
    width: 60px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field input {
    width: calc(100% - 24px);
    padding: 12px 12px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.input-field i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}
button {
    width: 100%;
    background-color: #fc7e1d;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ce4a1d;
}

.terms {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.link {
    color: #f77c35;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}